<div class="containerLogin">
  <div class="topLogin"></div>
  <div class="bottomLogin"></div>
  <div class="centerLogin">
    <h2>Please Sign In</h2>
    <input type="login" name="loginSignIn" id="loginSignIn" placeholder="login">
    <input type="password" name="passwordSignIn" id="passwordSignIn" placeholder="password">
    <button id="btnLogin" type="submit">Click me!</button>
    <h2>&nbsp;</h2>
  </div>
</div>
