
    <h1>Daily Checklists Report</h1>
    <table class="table table-hover">
      <h3>Fact/Plan comparisson</h3>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Fact</th>
          <th scope="col">Planned</th>
          <th scope="col">Fact/plan</th>
        </tr>
        
      </thead>
      <tbody >
        <tr>
          <th scope="row">Checklists</th>
          <td>27</td>
          <td>29</td>
          <td>93.10%</td>
        </tr>
      <tr class="black">
        <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </tbody>
    </table>
    <table class="table table-hover">
    <h3>Daily deviation Down by people </h3>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Hours worked</th>
          <th scope="col">Daily tasks <br> Completion</th>
        </tr>
        
      </thead>
      <tbody >
        <tr>
          <th scope="row">Нестерова Надежда</th>
          <td>18.95</td>
          <td>77%</td>
        </tr>
        <tr>
          <th scope="row">Довженко Александр</th>
          <td>17.93</td>
          <td>77%</td>
        </tr>
      <tr class="black">
        <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </tbody>
    </table>
    <table class="table table-hover">
    <h3>Daily deviation by people Up</h3>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Hours worked</th>
          <th scope="col">Daily tasks <br> Completion</th>
        </tr>
        
      </thead>
      <tbody >
        <tr>
          <th scope="row">Нестерова Надежда</th>
          <td>18.95</td>
          <td>77%</td>
        </tr>
        <tr>
          <th scope="row">Довженко Александр</th>
          <td>17.93</td>
          <td>77%</td>
        </tr>
      <tr class="black">
        <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </tbody>
    </table>
    <div class="repT">
  <h2>Reported tasks: 0 </h2>

    </div>
  <br><br>
  <table class="table table-hover">
      <h3>Top Tasks 5 undone</h3>
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Fact</th>
          <th scope="col">Planned</th>
          <th scope="col">Undo time</th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <th scope="row">Adapt Bots scenarios to meet liquidity goals</th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
         <tr>
          <th scope="row">Manage participants technically/ comoderation. To setup proper technical support necessary for event. </th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
         <tr>
          <th scope="row">Adapt Bots scenarios to meet liquidity goals</th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
         <tr>
          <th scope="row">Adapt Bots scenarios to meet liquidity goals</th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
      <tr class="black">
        <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </tbody>
    </table>
    <table class="table table-hover">
      <h3>Top Tasks 5 overdone</h3>
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Fact</th>
          <th scope="col">Planned</th>
          <th scope="col">Undo time</th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <th scope="row">Adapt Bots scenarios to meet liquidity goals</th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
         <tr>
          <th scope="row">Manage participants technically/ comoderation. To setup proper technical support necessary for event. </th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
         <tr>
          <th scope="row">Adapt Bots scenarios to meet liquidity goals</th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
         <tr>
          <th scope="row">Adapt Bots scenarios to meet liquidity goals</th>
          <td>2</td>
          <td>25.2</td>
          <td>-232</td>
        </tr>
      <tr class="black">
        <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </tbody>
    </table>
